<%- include('header') %>
<%
function generateRandomBigInt(lowBigInt, highBigInt) {
  if (lowBigInt >= highBigInt) {
    throw new Error('lowBigInt must be smaller than highBigInt');
  }

  const difference = highBigInt - lowBigInt;
  const differenceLength = difference.toString().length;
  let multiplier = '';
  while (multiplier.length < differenceLength) {
    multiplier += Math.random()
      .toString()
      .split('.')[1];
  }
  multiplier = multiplier.slice(0, differenceLength);
  const divisor = '1' + '0'.repeat(differenceLength);

  const randomDifference = (difference * BigInt(multiplier)) / BigInt(divisor);

  return lowBigInt + randomDifference;
}

const min = BigInt("1");
const max = BigInt("904625697166532776746648320380374280100293470930272690489102837043110636675");
const pageResult = generateRandomBigInt(min,max);
%>

<body class="d-flex flex-column d-100">
<section class="py-1 text-center container">
<p class="text-break"><b>Page:</b><br><b><%- page %></b><br>of<br><b>904625697166532776746648320380374280100293470930272690489102837043110636675</b></p>

<a href="/btc/1" class="btn btn-primary my-2" tabindex="-1" role="button">First Page</a>
<a href="/btc/<%- BigInt(page)-1n %>" class="btn btn-primary my-2" tabindex="-1" role="button">Previous Page</a>
<a href="/btc/<%- BigInt(page)+1n %>" class="btn btn-primary my-2" tabindex="-1" role="button">Next Page</a>
<a href="/btc/904625697166532776746648320380374280100293470930272690489102837043110636675" class="btn btn-primary my-1" tabindex="-1" role="button">Last Page</a>
<br>
<a href="/btc/<%- pageResult %>" class="btn btn-success my-1" tabindex="-1" role="button">Random Bitcoin Page</a>


<div id="keys" class="py-3">	
 <div class="border border-danger my-1" id="5J8jn8Rr3wAwya5Evx5AYXVWTPormfnpoNTpdLiJQzWsBjtGEih">
 	<div id="amount"><span class="text-danger"><b>0 BTC - 0 TX</b></span></div>
	<div class="d-lg-none text-break"><span class="text-danger"><b>5J8jn8Rr3wAwya5Evx5AYXVWTPormfnpoNTpdLiJQzWsBjtGEih</b></span></div>
        <div class="d-none d-lg-block"><span class="text-danger">5J8jn8Rr3wAwya5Evx5AYXVWTPormfnpoNTpdLiJQzWsBjtGEih</span></div>

	<div class="d-none d-lg-block"><a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">1Ejbo8HEtnBroChsUKpsdZTw4imwsPaQFa</a>  
	--- <a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">15Q8zVpKxkmBjFyMb7KYAsx3jnNDLQB6P5</a>
	</div>
	
	<div class="d-lg-none"><a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">Public Key</a>
	 -- <a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">Compressed Public Key</a>
	</div>
 </div>
<div class="border border-success my-1" id="5J8jn8Rr3wAwya5Evx5AYXVWTPormfnpoNTpdLiJQzWsBjtGEih">
        <div id="amount"><span class="text-success"><b>50 BTC - 1 TX</b></span></div>
        <div class="d-lg-none text-break"><span class="text-success">5J8jn8Rr3wAwya5Evx5AYXVWTPormfnpoNTpdLiJQzWsBjtGEih</span></div>
        <div class="d-none d-lg-block"><span class="text-success">5J8jn8Rr3wAwya5Evx5AYXVWTPormfnpoNTpdLiJQzWsBjtGEih</span></div>

        <div class="d-none d-lg-block"><a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">1Ejbo8HEtnBroChsUKpsdZTw4imwsPaQFa</a>
        --- <a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">15Q8zVpKxkmBjFyMb7KYAsx3jnNDLQB6P5</a>
        </div>

        <div class="d-lg-none"><div><a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">Public Key</a></div>
          <a href="https://www.blockchain.com/btc/address/1CMWU1CiFKWGD7QsLPRY6mvo1tjNMZC8FR" target="_blank">Compressed Public Key</a>
        </div>
 </div>
</div>
</section>
